body{
   background-color:#f4f4f4;
  /* color:yellowgreen;*/
    font-family:Arial, Helvetica,sans-serif;
    font-size:20px;
    font-weight:normal;
    

   /* font:normal 16px Arial, Helvetica,
    sans-serif;*/

    line-height:1.6em;
    margin:0;
}
.container{
    width:500px; /*width:80% - reponsive*/
    margin:auto;
}
.button{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:none;/*making all input button global*/
}

.box-1{
    background-color:#333;
    color:#fff;

border-right:5px red solid;
border-left:5px red solid;
border-bottom:5px red solid;
border-top:5px red solid;
/*border:5px red solid;  same*/


border-width:1px;
border-bottom-width:10px;

border-top-width:10px;
border-top-style:dotted;
padding-top:20px;
padding-bottom:20px;

/*padding:20px;*/

margin-top:20px;/*space in top*/

margin:20px;/*space on all sides*/
margin:20px 0;/*space on only top and bottom*/

}

.box-2 h1{
          font-family:Tahoma;
          font-weight:800;
          font-style:italic;
          text-decoration:underline;
          text-transform:uppercase;
          letter-spacing:0.2em;
          word-spacing:1em;


}
.box-3{
    width: 300px;
    height:300px;
    border:3px dotted #ccc;
    padding:120px;
}

.categories{
    border:1px violet solid;
    padding:10px;
    border-radius:15px;
    margin-top: 40px;
}

.categories h2{
    text-align:center;
}
.categories ul{
    padding:0;
    list-style:square;
}
a{
    text-decoration:underline;
    color:#000;
}
a:hover{
    color:red;
}
a:active{
    color:green;
}
.button:hover{
    background:red;
    color:#fff;
}

.categories li{
    padding-bottom:8px;
    border-bottom:dotted 1px #333;
    margin-top: 30px;
   /* list-style-image:url('../cssfoldered.jpg')*/
}
.my-form{
    padding:20px;

}
my-form.form-group{
    padding-bottom:15px;
}
.my-form label{
    display:block;
}
.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width:100%;
}
.my-form input[type="submit"]{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:none;
}
.block{
    float:left;
    width:23.3%;
    border:1px solid#ccc;
    padding:10px;
    box-sizing:border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin:50px;
    position:relative;
    background-image:url('../images/newone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.p-box h1{
    position:absolute;
    top: 100px;
    left:100px;

}
.fix-me{
    position:fixed;
    top:400px;
    left:100px;
}

.rishabh li:first-child{
    background:red;
}

.rishabh li:last-child{
    background:red;
}

.rishabh li:nth-child(5){
    background:yellow;

}

.rishabh li:nth-child(even){
    background:green;
}











